.dkconsty {
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(21, 101, 192, 0.06);
}
    .spinner {
      border: 5px solid #f3f3f3;
      border-top: 5px solid #1565C0; /* azul principal */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: -25px;
      margin-top: -25px;
      box-sizing: border-box;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .iti__flag-container {
      padding-left: 5px;
      padding-right: 5px;
    }
    input {
      box-shadow: 0 6px 18px rgba(21, 101, 192, 0.06);
    }
    .dkshadow {
      box-shadow: 0 6px 18px rgba(21, 101, 192, 0.06);
    }